services:
  fcp-entra-example:
    build:
      context: .
      target: production
    image: fcp-entra-example
    container_name: fcp-entra-example
    environment:
      ENTRA_WELL_KNOWN_URL: https://login.microsoftonline.com/${ENTRA_TENANT_ID}/v2.0/.well-known/openid-configuration
      ENTRA_CLIENT_ID: ${ENTRA_CLIENT_ID}
      ENTRA_CLIENT_SECRET: ${ENTRA_CLIENT_SECRET}
      ENTRA_REDIRECT_URL: http://localhost:3001/auth/sign-in-oidc
      ENTRA_SIGN_OUT_REDIRECT_URL: http://localhost:3001/auth/sign-out-oidc
      REDIS_HOST: redis
      COOKIE_PASSWORD: this-is-a-secret-that-must-be-at-least-32-characters

  redis:
    image: redis
